<div class="textframeholder" style="width: 100vw; position: relative; left: calc(-50vw + 50%); height=100%;" >
    {{ $width := default "48" (.Get "width") }}
    {{ $type := default "" (.Get "type") }}
    {{ $radius := default "5" (.Get "radius") }}
    <div class="textframe{{ $type }}" style="width: {{ $width }}%; margin: 0 auto; padding: .4%; border-radius: {{ $radius }}px;
        {{ if (.Get "color") }} border: 1px solid {{ .Get "color" }} {{ else }} border: 1px solid var(--accent-color) {{ end }};
        {{ if (.Get "type") }}
            {{ if (.Get "color") }} background-color: {{ .Get "color" }} {{ else }} background-color: var(--accent-color) {{ end }};
            {{ if (.Get "font") }} color: {{ .Get "font" }} {{ else }} color: var(--bg-color) {{ end }};
        {{ else }}
            background-color: var(--bg-color);
            {{ if (.Get "font") }} color: {{ .Get "font" }} {{ else }} color: var(--bg-color) {{ end }};
        {{ end }}
        " >{{ .Inner }}</div>
<style> @media only screen and (max-width : 768px) { .textframe{{ $type }} { width: 90% !important; } } </style>
</div>

