<div class="progress_main" >
    <div id="progress_one" >{{ .Inner }}</div>
    <div id="progress_two" >
            <div style="float:left; height: 2em; width:{{ .Get 0 }}%; background-color:{{ if (.Get 1) }}#{{ .Get 1 }} {{ else }} var(--accent-color) {{ end }} " ></div>
    </div>

<style>
    #progress_one {
        float:left;
        width:25%;
        margin: 1%;
        text-align: right;
    }
    #progress_two {
        background-color: #ffffff11;
        overflow:hidden;
        margin: 1%;
    }
    @media screen and (max-width: 767px) {
        #progress_one {
            float: none;
            text-align: left;
            margin-right:0;
            width:auto;
            border:0;
        }
    }
</style>
</div>
